Download the data for January and February 2023.

Read the data for January. How many columns are there?

In [2]:
import pandas as pd

yellow_tripdata_january = pd.read_parquet('./data/yellow_tripdata_2023-01.parquet')
yellow_tripdata_january.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [4]:
yellow_tripdata_january.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [3]:
len(yellow_tripdata_january.columns)

19

Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

In [5]:
# Compute duration in minutes
yellow_tripdata_january['duration'] = (yellow_tripdata_january['tpep_dropoff_datetime'] - yellow_tripdata_january['tpep_pickup_datetime']).dt.total_seconds() / 60
yellow_tripdata_january.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [8]:
# Compute standard deviation
std_duration = yellow_tripdata_january['duration'].std()
print(round(std_duration, 2))

42.59

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

To compute the fraction of records remaining after filtering out outliers, we need to:

1. Calculate trip duration in minutes.

2. Filter to keep only trips with duration between 1 and 60 minutes inclusive.

3. Divide the number of filtered records by the total number of records.

In [9]:
# Total number of records before filtering
total_records = len(yellow_tripdata_january)
print(total_records)

3066766

In [10]:
# Filter durations between 1 and 60 minutes inclusive
filtered_yellow_tripdata_january = yellow_tripdata_january[(yellow_tripdata_january['duration'] >= 1) & (yellow_tripdata_january['duration'] <= 60)]
filtered_yellow_tripdata_january.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [12]:
# Number of records after filtering
filtered_records = len(filtered_yellow_tripdata_january)
print(filtered_records)

3009173

In [13]:
# Fraction remaining
fraction_remaining = filtered_records / total_records
print(round(fraction_remaining * 100, 2))

98.12

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
Fit a dictionary vectorizer
Get a feature matrix from it
What's the dimensionality of this matrix (number of columns)?

In [14]:
yellow_tripdata_january.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

We're now preparing data for modeling using one-hot encoding with a DictVectorizer, focusing only on PULocationID and DOLocationID

In [15]:
# Filter durations between 1 and 60 mins
yellow_tripdata_january = yellow_tripdata_january[(yellow_tripdata_january['duration'] >= 1) & (yellow_tripdata_january['duration'] <= 60)]

In [16]:
# Convert location IDs to string (to one-hot encode correctly)
yellow_tripdata_january['PULocationID'] = yellow_tripdata_january['PULocationID'].astype(str)
yellow_tripdata_january['DOLocationID'] = yellow_tripdata_january['DOLocationID'].astype(str)

In [20]:
# Create list of dictionaries for DictVectorizer
dicts = yellow_tripdata_january[['PULocationID', 'DOLocationID']].to_dict(orient='records')

In [22]:
from sklearn.feature_extraction import DictVectorizer

# Fit DictVectorizer
dv = DictVectorizer()
X = dv.fit_transform(dicts)

# Get the shape (rows, columns)
print(X.shape)

(3009173, 515)

Now let's use the feature matrix from the previous step to train a model.

Train a plain linear regression model with default parameters, where duration is the response variable.

Calculate the RMSE of the model on the training data.

What's the RMSE on train?

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Train the model
model = LinearRegression()
model.fit(X, yellow_tripdata_january['duration'])

# Predict on training data
y_pred = model.predict(X)

# Calculate RMSE
mse = mean_squared_error(yellow_tripdata_january['duration'], y_pred)
rmse = np.sqrt(mse)
print(rmse)

7.649262236295703

Now let's apply this model to the validation dataset (February 2023).

What's the RMSE on validation?

In [26]:
# Load February data
df_val = pd.read_parquet('./data/yellow_tripdata_2023-02.parquet')

In [27]:
# Compute duration
df_val['duration'] = (df_val['tpep_dropoff_datetime'] - df_val['tpep_pickup_datetime']).dt.total_seconds() / 60

# Filter duration between 1 and 60 mins
df_val = df_val[(df_val['duration'] >= 1) & (df_val['duration'] <= 60)]

In [28]:
# Convert IDs to string
df_val['PULocationID'] = df_val['PULocationID'].astype(str)
df_val['DOLocationID'] = df_val['DOLocationID'].astype(str)

# Create dicts and transform using the SAME vectorizer
val_dicts = df_val[['PULocationID', 'DOLocationID']].to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [30]:
# Predict on validation data
y_pred_val = model.predict(X_val)

# Calculate MSE and then RMSE manually
mse_val = mean_squared_error(df_val['duration'], y_pred_val)
rmse_val = np.sqrt(mse_val)
print(rmse_val)

7.811812822882009